* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: antiquewhite;
}

.form-contact {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 600px;
  width: 100%;
  padding: 2rem;
}

.contact-now {
  font-family: cursive;
  text-decoration: underline;
  text-underline-offset: 6px;
  align-self: center;
}

.form-ip {
  padding: 1rem;
  outline: none;
  border: 1px solid beige;
  border-radius: 4px;
}

.send-msg {
  background-color: blueviolet;
  color: azure;
  border-radius: 5px;
  width: 12rem;
  align-self: center;
  font: 400 1rem sans-serif;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
}
